@model GopikaFrontDesk.Guest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Guest</h4>
    <span style="float:right;" class="ButtonNew"><a href="~/Guests/Print/@Model.Id"><span class="glyphicon glyphicon-print"></span></a></span>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNo)
        </dd>

    </dl>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
        <img src="@ViewBag.fn" width=40% />
